/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1f72e1;
  --ifm-color-primary-dark: #1b67cb;
  --ifm-color-primary-darker: #1a61c0;
  --ifm-color-primary-darkest: #15509e;
  --ifm-color-primary-light: #3680e4;
  --ifm-color-primary-lighter: #4187e6;
  --ifm-color-primary-lightest: #639dea;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f6711f;
  --ifm-color-primary-dark: #f0610a;
  --ifm-color-primary-darker: #e25c09;
  --ifm-color-primary-darkest: #ba4c07;
  --ifm-color-primary-light: #f7823a;
  --ifm-color-primary-lighter: #f88a47;
  --ifm-color-primary-lightest: #f9a46f;
}
